.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(135deg, #fdf2fa, #c4daff);
  /* background-color: #f8f6ff; */
}

.main {
  flex: 1;
  padding: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px
}

.greet {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 30px;
}

.greet h2, .greet h4 {
  color: black;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 40px;
  border-radius: 20px;
}