.info {
    color: rgb(0, 0, 0);
}

.left__side {
    display: flex;
    gap: 5px
}

.logo img {
    width: 30px;
}

.footer__section {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    background-color: rgba(255, 255, 255);
    height: 5%;
    width: 100%;
}
