.header__section {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 24px;
  width: 100%;
  height: 4vh;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo__text h3 {
  font-size: 12px !important;
  color: black !important;
}

.logo img {
  width: 26px;
}

.home, .habits, .health, .analysis {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
