.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    220deg,
    rgb(0, 0, 255),
    rgb(0, 199, 0),
    rgb(37, 163, 247)
  );
  background-size: 300% 300%;
  animation: move-bg 13s linear infinite;
  padding: 20px;
}

.formWrapper {
  width: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  color: black;
  border: none;
  outline: none;
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}